#glossar td.rex-table-action {
    width: auto !important;
}
#glossar td.term {
    min-width: 100px;
}

#glossar tr {
    background-color: #f8f8f8;
}

#glossar th {
    background-color: #fff;
}

#glossar .id {
    padding-left: 15px
}

#glossar .id a {
    color: #000;
    opacity: 0.3;
}

#glossar .id a:hover {
    opacity: 1;
}
#glossar .maxcharacters {
    float: right;
    font-size: 10px;
}
#glossar .maxcharacters input {
    font-weight: bold;
    border: none;
    background: none;
}
