#glossar td.rex-table-action {
    width: auto !important;
}
#glossar td.term {
    min-width: 100px;
}
#glossar .maxcharacters {
    float: right;
    font-size: 10px;
}
#glossar .maxcharacters input {
    font-weight: bold;
    border: none;
    background: none;
}
